html{
    background-color: chocolate;
}
/* header starts here */
/* navigation bar CSS starts here */
.navbar{
    background-color: rgb(206, 193, 98);
    overflow:auto;
    border-radius: 30px;
    padding: 14px 14px;
}
.navbar li{
    float:left;
    list-style: none;
    padding-left: 40px;
    padding-right: 40px;
}
.navbar a{
    text-decoration: none;
    color:blueviolet;
}
.searchbox{
    align-content:flex-end;
    float: inline-end;                     
    border: 1px solid black;
    padding-right:20px;
    text-align:right;
    border-radius: 30px;
    overflow:auto;
    width:150px; 
}
/* navigation bar CSS ends here */
/* header ends here */

/* main starts here */
.heading{
    text-align: center;
    background-color: cadetblue;
    text-rendering: geometricPrecision;
    padding:3px 3px;
    border-radius:15px ;
    margin-top: 10px;

}

.gallery div{
    flex-direction:column;
    border: 5px solid black;
   background: red;
   padding:10px;
   margin:10px;
}

.gallery div a{
    
}
.gallery div p{
    
}


.gallery img{
    height: 400px;
    width:auto;
    padding: 10px 10px;
}

footer{
    background-color:bisque;
    border-radius: 20px;
    padding-left: 10px;
    padding: 2px 20px;
}